[gui]
	recentrepo = /home/hc/src/trifork/fut-build
[user]
	email = hcnp@trifork.com
	name = Henning C. Nielsen
[core]
	editor = nvim
[push]
	default = current
[alias]
	cl = clone
	co = checkout
	cp = cherry-pick
	br = branch
	ci = commit
	st = status
	rs = restore
	rst = reset
	sa = stash
	last = log -1 HEAD
	f = fetch
	ps = push -u
	pl = pull
[pull]
	rebase = false
[diff "meld"]
	command = meld
[init]
	defaultBranch = main
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
